<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


<!-- 读取mysql jdbc的配置-->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:mybatis/jdbc.properties</value>
		</property>
	</bean>
	<!-- 配置数据源，从上面配置文件读取-->
	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="minEvictableIdleTimeMillis" value="7200000" /><!-- 最大空闲时间(单位ms) -->
		<property name="testWhileIdle" value="true" /><!-- 通常是在连接空闲时校验 -->
		<property name="testOnBorrow" value="false" /><!-- 获取连接时校验 -->
		<property name="testOnReturn" value="false" /><!-- 归还连接到连接池时校验 -->
		<property name="validationQuery" value="select 1" /> <!-- 校验的方式：使用待校验的连接在在数据库上执行一下校验的sql -->
		<property name="validationQueryTimeout" value="10" /> <!-- 检测连接是否有效的超时时间 -->
	</bean>
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置mybatis配置文件的位置 -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
		<!-- 配置扫描Domain的包路径 -->
		<property name="typeAliasesPackage" value="com.loword.java.kernel.entity"/>
		<!-- 配置扫描Mapper XML的位置 -->
		<property name="mapperLocations">
			<list>
				<value>classpath*:mybatis/mapper/*.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置扫描Mapper接口的包路径 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.loword.java.kernel.mybatis.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

</beans>