<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loword.java.kernel.mybatis.mapper.SysAreaMapper">
  <sql id="Base_Column_List">
	id,
    level_code,
    parent_code,
	area_code,
	zip_code,
	city_code,
	name,
	short_name,
	merger_name,
	pinyin,
	lng,
	lat,
	status,
	remark,
	create_time,
	create_user,
	update_time,
	update_user
  </sql>
 
  <select id="selectById" resultType="com.loword.java.kernel.entity.sys_area">
    select 
    <include refid="Base_Column_List" />
    from sys_area where id = #{id}
  </select>

  <select id="selectByShortName" resultType="com.loword.java.kernel.entity.sys_area">
    select
    <include refid="Base_Column_List" />
    from sys_area where short_name = #{shortName}
  </select>

  <select id="selectByPingYin" resultType="com.loword.java.kernel.entity.sys_area">
    select
    <include refid="Base_Column_List" />
    from sys_area where pinyin = #{pingyin}
  </select>


  <select id="selectAll" parameterType="com.loword.java.kernel.entity.sys_area" resultType="com.loword.java.model.vo.AreaTreeVo">
    select id,area_code code,name
    from sys_area
    where status = 0
	<if test="id != null">
	  and id = #{id}
	</if>
    <if test="levelCode != null">
      and level_code = #{levelCode}
    </if>
    <if test="parentCode != null and parentCode != ''">
      and parent_code = #{parentCode}
    </if>
    <if test="areaCode != null and areaCode != ''">
      and area_code = #{areaCode}
    </if>
    <if test="zipCode != null and zipCode != ''">
      and zip_code = #{zipCode}
    </if>
    <if test="cityCode != null and cityCode != ''">
      and city_code = #{cityCode}
    </if>
    <if test="name != null and name != ''">
      and name = #{name}
    </if>
    <if test="shortName != null and shortName != ''">
      and short_name = #{shortName}
    </if>
    <if test="mergerName != null and mergerName != ''">
      and merger_name = #{mergerName}
    </if>
    <if test="pinyin != null and pinyin != ''">
      and pinyin = #{pinyin}
    </if>
    <if test="lng != null and lng != 0">
      and lng &gt; #{lng} -1 and lng &lt; #{lng}+1
    </if>
    <if test="lat != null and lat != 0">
      and lat &gt; #{lat} -1 and lat &lt; #{lat}+1
    </if>
  </select>

  <select id="selectAreaTree" parameterType="com.loword.java.kernel.entity.sys_area" resultType="com.loword.java.model.vo.AreaVo">
	SELECT a.area_code province_code, a.short_name province, b.area_code city_code, b.short_name city,
	  c.area_code county_code, c.short_name county
	FROM sys_area a
	INNER JOIN sys_area b ON a.area_code=b.parent_code
	INNER JOIN sys_area c ON b.area_code=c.parent_code
	WHERE a.status = 0
	<if test="id != null">
	  and a.id = #{id}
	</if>
	<if test="levelCode != null">
	  and a.level_code = #{levelCode}
	</if>
  	<if test="parentCode != null and parentCode != ''">
  		and a.parent_code = #{parentCode}
  	</if>
  	<if test="areaCode != null and areaCode != ''">
  		and e.area_code = #{areaCode}
  	</if>
  	<if test="name != null and name != ''">
  		and a.name = #{name}
  	</if>
  	<if test="shortName != null and shortName != ''">
  		and e.short_name = #{shortName}
  	</if>
  	<if test="pinyin != null and pinyin != ''">
  		and e.pinyin = #{pinyin}
  	</if>
  	<if test="lng != null and lng != 0">
  		and e.lng &gt; #{lng} -1 and e.lng &lt; #{lng}+1
  	</if>
  	<if test="lat != null and lat != 0">
  		and e.lat &gt; #{lat} -1 and e.lat &lt; #{lat}+1
  	</if>
  </select>

  <insert id="insertSelective" parameterType="com.loword.java.kernel.entity.sys_area">
    insert into sys_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
	   <if test="levelCode != null">
	     level_code,
	   </if>
	   <if test="parentCode != null and parentCode != ''">
	     parent_code,
	   </if>
	   <if test="areaCode != null and areaCode != ''">
	     area_code,
	   </if>
	   <if test="zipCode != null and zipCode != ''">
	     zip_code,
	   </if>
	   <if test="cityCode != null and cityCode != ''">
		 city_code,
	   </if>
	   <if test="name != null and name != ''">
	     name,
	   </if>
	   <if test="shortName != null and shortName != ''">
	     short_name,
	   </if>
	   <if test="mergerName != null and mergerName != ''">
	     merger_name,
	   </if>
	   <if test="pinyin != null and pinyin != ''">
	     pinyin,
	   </if>
	   <if test="lng != null and lng != 0">
	     lng,
	   </if>
	   <if test="lat != null and lat != 0">
	     lat,
	   </if>
	   <if test="status != null">
	     status,
	   </if>
	   <if test="remark != null and remark != ''">
	     remark,
	   </if>
	   <if test="createTime != null">
	     create_time,
	   </if>
	   <if test="createUser != null">
	     create_user,
	   </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
	  <if test="levelCode != null">
	    #{levelCode,jdbcType=INTEGER},
	  </if>
	  <if test="parentCode != null and parentCode != ''">
	    #{parentCode,jdbcType=VARCHAR},
	  </if>
	  <if test="areaCode != null and areaCode != ''">
	    #{areaCode,jdbcType=VARCHAR},
	  </if>
	  <if test="zipCode != null and zipCode != ''">
	    #{zipCode,jdbcType=VARCHAR},
	  </if>
	  <if test="cityCode != null and cityCode != ''">
	    #{cityCode,jdbcType=VARCHAR},
	  </if>
	  <if test="name != null and name != ''">
	    #{name,jdbcType=VARCHAR},
	  </if>
	  <if test="shortName != null and shortName != ''">
	    #{shortName,jdbcType=VARCHAR},
	  </if>
	  <if test="mergerName != null and mergerName != ''">
	    #{mergerName,jdbcType=VARCHAR},
	  </if>
	  <if test="pinyin != null and pinyin != ''">
	    #{pinyin,jdbcType=VARCHAR},
	  </if>
	  <if test="lng != null and lng != 0">
	    #{lng,jdbcType=DECIMAL},
	  </if>
	  <if test="lat != null and lat != 0">
	    #{lat,jdbcType=DECIMAL},
	  </if>
	  <if test="status != null">
	    #{status,jdbcType=INTEGER},
	  </if>
	  <if test="remark != null and remark != ''">
	    #{remark,jdbcType=VARCHAR},
	  </if>
	  <if test="createTime != null">
		  FROM_UNIXTIME(#{createTime,jdbcType=TIMESTAMP}),
	  </if>
	  <if test="createUser != null">
	    #{createUser,jdbcType=INTEGER},
	  </if>
	</trim>
  </insert>
  <update id="updateSysArea" parameterType="com.loword.java.kernel.entity.sys_area">
    update sys_area
    <set>
	   <if test="zipCode != null and zipCode != ''">
	     zip_code = #{zipCode},
	   </if>
	   <if test="cityCode != null and cityCode != ''">
		 city_code = #{cityCode},
	   </if>
	   <if test="name != null and name != ''">
	     name = #{name},
	   </if>
	   <if test="shortName != null and shortName != ''">
	     short_name = #{shortName},
	   </if>
	   <if test="mergerName != null and mergerName != ''">
	     merger_name = #{mergerName},
	   </if>
	   <if test="pinyin != null and pinyin != ''">
	     pinyin = #{pinyin},
	   </if>
	   <if test="lng != null and lng != 0">
	     lng = #{lng},
	   </if>
	   <if test="lat != null and lat != 0">
	     lat = #{lat},
	   </if>
       <if test="status != null">
         status = #{status},
       </if>
	   <if test="remark != null and remark != ''">
	     remark = #{remark},
	   </if>
	   <if test="updateTime != null">
	     update_time = FROM_UNIXTIME(#{updateTime}),
	   </if>
	   <if test="updateUser != null">
	     update_user = #{updateUser},
	   </if>
    </set>
    where id = #{id}
  </update>

</mapper>